#empty-list {
    text-align: center;
}

dialog>form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

dialog>form input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}

dialog>form textarea {
    height: 100px;
    border: 1px solid black;
    resize: none;
}

dialog>form input:focus,
dialog>form textarea:focus {
    outline: none;
}

#detail-prompt {
    max-height: 70vh;
}

#detail-prompt>#detail-form .dialog-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#detail-close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    background-image: url(../pics/outline_close_black_48dp.png);
    background-size: contain;
}

#detail-prompt #blog-detail-title,
#detail-prompt #blog-detail-date,
#detail-prompt #blog-detail-summary {
    margin-left: 20px;
    margin-right: 20px;
    overflow-wrap: break-word;
}

#detail-prompt #blog-detail-title:focus {
    outline: none;
}

.blog #blog-summary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blogBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 10px;
}

.editBtn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url(../pics/outline_edit_black_48dp.png);
    background-size: contain;
}

.deleteBtn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url(../pics/outline_delete_black_48dp.png);
    background-size: contain;
}

.viewBtn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
    background-image: url(../pics/outline_visibility_black_48dp.png);
    background-size: contain;
}

@media (min-width: 1280px) {

    main {
        width: 30vw;
        display: flex;
        flex-direction: row;
    }

    dialog {
        margin: auto;
        border: none;
        padding: 20px;
        width: 25vw;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    }

    dialog .dialog-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        column-gap: 10px;
    }

    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-cancel,
    .dialog-btn-container>#edit-ok {
        width: 30%;
        height: 30px;
    }

    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-ok,
    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#edit-cancel {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .dialog-btn-container>#post-submit:hover,
    .dialog-btn-container>#delete-ok:hover,
    .dialog-btn-container>#edit-ok:hover,
    .dialog-btn-container>#post-cancel:hover,
    .dialog-btn-container>#delete-cancel:hover,
    .dialog-btn-container>#edit-cancel:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
    }

    #blog-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .blog {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        text-align: left;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
    }

    #add-btn {
        width: 30px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 32vw;
        border: 1px solid black;
        background-color: white;
        background-image: url(../pics/outline_add_black_48dp.png);
        background-size: contain;
    }

    .blog:hover {
        transform: scale(1.05, 1.05);
    }

    #add-btn:hover {
        cursor: pointer;
        background-color: black;
        background-image: url(../pics/outline_add_white_48dp.png);
    }

    .editBtn:hover {
        cursor: pointer;
        background-color: black;
        background-image: url(../pics/outline_edit_white_48dp.png);
    }

    .deleteBtn:hover {
        cursor: pointer;
        background-color: black;
        background-image: url(../pics/outline_delete_white_48dp.png);
    }

    .viewBtn:hover {
        cursor: pointer;
        background-color: black;
        background-image: url(../pics/outline_visibility_white_48dp.png);
    }

    #detail-close:hover {
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    main {
        width: 50vw;
        display: flex;
        flex-direction: row;
    }

    dialog {
        margin: auto;
        border: none;
        padding: 20px;
        width: 40vw;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    }

    dialog .dialog-btn-container {
        display: flex;
        flex-direction: column;
    }

    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-cancel,
    .dialog-btn-container>#edit-ok {
        width: 100%;
        height: 30px;
    }

    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#edit-cancel {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-ok {
        background-color: black;
        color: white;
        border: none;
    }

    #blog-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .blog {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        text-align: left;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }

    #add-btn {
        width: 30px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 52vw;
        border: none;
        background-color: black;
        background-image: url(../pics/outline_add_white_48dp.png);
        background-size: contain;
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    main {
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    dialog {
        margin: auto;
        border: none;
        padding: 20px;
        width: 85vw;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    }

    dialog .dialog-btn-container {
        display: flex;
        flex-direction: column;
    }

    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-cancel,
    .dialog-btn-container>#edit-ok {
        width: 100%;
        height: 30px;
    }

    .dialog-btn-container>#post-cancel,
    .dialog-btn-container>#delete-cancel,
    .dialog-btn-container>#edit-cancel {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .dialog-btn-container>#post-submit,
    .dialog-btn-container>#delete-ok,
    .dialog-btn-container>#edit-ok {
        background-color: black;
        color: white;
        border: none;
    }

    #blog-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        row-gap: 20px;
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .blog {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        text-align: left;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }

    #add-btn {
        width: 48px;
        height: 48px;
        position: fixed;
        bottom: 10px;
        border: none;
        border-radius: 999px;
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        background-image: url(../pics/outline_add_black_48dp.png);
        background-size: contain;
    }
}