form {
    display: flex;
    flex-direction: column;
    width: 300px;
    row-gap: 10px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#output-data {
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    white-space: pre;
}

#output-data th,
#output-data td {
    border: 1px solid black;
}

#output-data th {
    background-color: rgb(200, 200, 200);
    width: 20%;
}

#output-data td {
    width: 100px;
}