table {
    border-collapse: collapse;
}

table td:nth-child(1),
table td:nth-child(2),
table td:nth-child(3) {
    text-align: center;
}

table th,
table td {
    border-bottom: 1px solid black;
}

@media (min-width: 768px) {
    table tr:hover {
        background-color: var(--projects-table-row-hover-color);
        cursor: pointer;
    }


}

@media (min-width: 320px) and (max-width: 767px) {

    table td:nth-child(2),
    table th:nth-child(2) {
        display: none;
    }

    caption {
        text-align: left;
    }
}